.submit {
  border-radius: 4px;
  color: white;
  background-color: #15c39a;
}
.dash {
  margin-top: 20px;
}
.main {
  margin-top: 10px;
}
.heading {
  margin-top: 20px;
}

.user-name {
  color: black;
}
.profile {
  width: 100px;
  border-radius: 50%;
}

.personel-info {
  margin-top: 20px;
}

.contact-info {
  margin-top: 20px;
}

.btn {
  border-radius: 4px;
  color: white;
  background-color: #15c39a;
}

.appbar {
  background-color: black;
}

.myContainer, 
    .myContainer > div.react-datepicker-wrapper, 
    .myContainer > div > div.react-datepicker__input-container
    .myContainer > div > div.react-datepicker__input-container input {
       width: 100%;
       height: 100%;
    }
    .react-datepicker__input-container  {
        width: inherit;
        height: inherit;
      }
      .react-datepicker__input-container input {
        width: inherit;
        height: 40px;
        display: block;
        border: 1px solid #ced4da;
        border-radius: .25rem;
      }
